/* css admin */
.nav .nav-item .nav-link{
    color: #ff6b81;
    font-size:1rem;
}
.table1 tbody tr {
    border-bottom-color: #f8f9fa ;
}

.contaier {
    padding-left: 10%;
    padding-right: 30px;
    background-color: #f8f9fa;
}
table.table1 thead tr th p{
    border-bottom: 01px solid black;
    padding: 0px 0px 20px 0px;
    margin: 0px -7px 0px;
    
}
.table1 > :not(caption) > * > *{
    border-bottom-width: 0px;
}
table.table.table1 {
    margin: 40px 0px 40px 0px;
}

h1 {
    margin: 30px 0px;
}
td.cancelled {
    color: red;
}
.delivered{
    color: rgb(13, 238, 13);
}
.my-btn{
    border:none;
    border-radius: 0px;
}
.table-image td, th {
      vertical-align: middle;
    }
img.my-img {
        width: 20%;
    }
/* css index */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0 !important;

}
/* logo */
img.my-logo{
    width: 14%;
    margin-left: 80px;
}
.container1 ul li{
    font-weight: bold;
    font-size: 20px;
}
.container1 {
    padding: 0px 3% 3%;
}
.nav .nav-item .nav-link {
    color: #ff6b81;
    font-size: 60%;
    margin-top: 15px;
}
/* search */
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.btn-outline-success {
    color: black;
    background-color: white;
    border-color: black;
}
.btn-outline-success:hover{
    color: white;
    background-color:#6e6869 ;
    border-color: black;
}
/* explore */
h1.row.justify-content-md-center {
    padding-top: 3%;
    font-weight: bold;
    font-size: 1.5rem;
    color: #2f3542;
}
.row .my-row {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 3%;
}
h3.card-title.top{
    color: white;
    font-weight: bold;
}
.card-img-overlay {
    top: 70%;
    left: 40%;
}
.container-fluid.my-explore {
    margin-bottom: 5%;
}
.p-2.mb-2.text-dark.my-menu {
    background-color: #ececec;}
.row1 {

        padding:3%
}

/* food menu */
.card-title{
    padding-top:10%; 
    color:#747d8c; 
}
img.img-fluid.rounded-start {
    padding: 8%;
    margin: 5%;
    border-radius: 10%;
}
h2 {
    padding-top: 4%;
    font-weight: bold;
    font-size: 1.5rem;
    color: #2f3542;
}
/* footer */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* order */
h1.h1 {
    text-align: center;
}
legend{
    margin-bottom: 2%;
    margin-left: 3%;
}
.container-select {
    padding-right: 40%;
    padding-left: 30%;
}
.form1 {
    border-radius: 2%;
    margin-bottom: 5%;
    border: 1px solid white;
}
.my-form {
    padding-right: 4%;
    margin: 3%;
}
/* my css */
.list-product-title{
    width:100%;
    margin-left: 5px;
    margin-right: 5px;
}
.card-product{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;	
    position: relative;
}

@font-face{
    font-family: Open Sans;
    src:url("static/OpenSans/OpenSans-Light.ttf");
 }

.product-title{
    margin-bottom: 0.25rem;
 }
.product-price{
    position: relative;
}
.btn-add-to-cart{
    background-color: #3a5c83 !important;
    color: white !important;
}
.btn-add-to-cart:hover{
    background-color: #f90 !important;
}
.btn-detail{
    boder: 1px solid #3a5c83 !important;
}
.btn-detail:hover{
    background-color: #3a5c83 !important;
    color: white !important;
}

img.card-img-top {
    height: 350px;
}